h2 Add new words to your dictionary by yourself!

= form_with model: @word do |f|
  = f.label 'In English'
  = f.text_field :eng

  br

  = f.label 'Translation'
  = f.text_field :rus

  br

  = f.submit 'Save a new word'

h2 Be free to memorize new words!

table.table.table-hovered
  tbody
    - @words.each do |word|
      tr
        td= @words.index(word) + 1
        td= word.eng
        td= word.rus
        td= word.created_at.strftime('%d/%m/%Y')
