.row.text-center.single-word
  .col-xs-12
    button.btn.btn-lg.btn-info = @word.eng
  .col-xs-12
    button.btn.btn-lg.btn-default.show-translation Show translation
  .col-xs-12.translation-div.hidden
    button.btn.btn-lg.btn-info.translation = @word.rus
  .col-xs-12
    = link_to 'Next word', word_path(lim: params[:lim]),
                           class: 'btn btn-lg btn-success next-word',
                           'data-turbolinks' => false,
                           data: { word_id: @word.id }
  .col-xs-12
    .checkbox
      label
        input type='checkbox'
        span Hide for a week
