@import 'bootstrap-sprockets';
@import 'bootstrap';

.table td {
  font-size: 16px;
}

.hidden {
  display: none;
}

.single-word {
  font-size: 24px;

  button {
    min-width: 250px !important;
    margin-bottom: 20px;
  }
}

.checkbox {
  margin-top: 25px !important;
  font-size: 20px;

  input {
    margin-top: 6px !important;
  }
}
