nav.navbar.navbar-default
  .container-fluid
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    /! Collect the nav links, forms, and other content for toggling
    #navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li class ="#{'active' if params[:lim] == 'all'}" = link_to 'Single words', word_path(lim: 'all')
        li class ="#{'active' if params[:lim] == '10'}" = link_to 'Last 10 words', word_path(lim: 10)
        li class ="#{'active' if params[:lim] == '20'}" = link_to 'Last 20 words', word_path(lim: 20)
        li class ="#{'active' if params[:lim] == '30'}" = link_to 'Last 30 words', word_path(lim: 30)
      ul.nav.navbar-nav.navbar-right
        li
          a Words count: #{ Word.count}

